<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7"><![endif]-->
<!--[if IE 8]>
<html class="ie ie8"><![endif]-->
<!--[if IE 9]>
<html class="ie ie9"><![endif]-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="ch">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="Nghia Minh Luong">
    <meta name="keywords" content="Default Description">
    <meta name="description" content="Default keyword">
    <title>商品详情 | [[${gddetail.commname}]]</title>
    <!-- Fonts-->
    <link rel="stylesheet" th:href="@{/static/css/fontsgoogleapis.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/ps-icon/style.css}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/owl-carousel/assets/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/slick/slick/slick.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap-select/dist/css/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/Magnific-Popup/dist/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/jquery-ui/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/revolution/css/settings.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/revolution/css/layers.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/revolution/css/navigation.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/gooddetail.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/font-awesome/css/font-awesome.css}"/>
    <script type="text/javascript" th:src="@{/static/plugins/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/static/js/html5shiv.js}"></script>
    <script th:src="@{/static/js/respond.min.js}"></script>
    <script th:src="@{/static/js/vue.js}"></script>
    <script th:inline="javascript">
        var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
        var goodsid = [[${gddetail.commid}]];
        var gooduser = [[${gddetail.userid}]];
        var userid =  [[${session.userid}]];
        var collectstatus=[[${collectstatus}]];
    </script>
</head>
<!--[if IE 7]>
<body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 8]>
<body class="ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 9]>
<body class="ie9 lt-ie10"><![endif]-->
<body class="ps-loading">
<div class="header--sidebar"></div>
<header class="header">
    <div th:include="~{index :: myheader}"></div>
</header>
<main class="ps-main">
    <!--弹窗-->
    <div id="add-main" style="display: none;">
        <form class="layui-form" id="add-form"  action="" lay-filter="order-form">
            <!-- 隐藏字段，用于携带页面信息 -->
            <input type="hidden" name="commodityName" th:value="${gddetail.commname}">
            <input type="hidden" name="commodityId" th:value="${gddetail.commid}">
            <input type="hidden" name="price" th:value="${gddetail.money}">
            <input type="hidden" name="sellerId" th:value="${gddetail.userid}">

            <div class="layui-form-item center" >
                <label class="layui-form-label" style="width: 100px" >收件人姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="receiveName" required style="width: 240px"  lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item center" >
                <label class="layui-form-label" style="width: 100px" >收件人电话</label>
                <div class="layui-input-block">
                    <input type="text" name="receivePhone" required style="width: 240px"  lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item center" >
                <label class="layui-form-label" style="width: 100px" >收件人地址</label>
                <div class="layui-input-block">
                    <input type="text" name="address" required style="width: 240px"  lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="buy" >点击支付</button>
                </div>
            </div>
        </form>
    </div>
    <div class="test">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                </div>
            </div>
        </div>
    </div>
    <div class="ps-product--detail pt-60">
        <div class="ps-container">
            <div class="row">
                <div class="col-lg-10 col-md-12 col-lg-offset-1">
                    <div class="ps-product__thumbnail">
                        <div class="ps-product__preview">
                            <div class="ps-product__variants">
                                <div class="item"><img th:src="${gddetail.image}"></div>
                                <div class="item" th:each="imgs:${gddetail.otherimg}">
                                    <img th:src="${imgs}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="ps-product__image layer-photos-demo" id="layer-photos-demo">
                            <img th:src="${gddetail.image}" th:layer-src="${gddetail.image}" style="width:500px;height:500px;cursor: pointer;">
<!--                            <img th:each="imgs:${gddetail.otherimg}" th:src="${imgs}"-->
<!--                                 th:layer-src="${imgs}" style="width:500px;height:500px;cursor: pointer;">-->
                        </div>
                    </div>
                    <div class="ps-product__info">
                        <div style="margin-top:10px;margin-bottom:10px">
                            <span style="font-size:25px;color:#E7503C">￥</span>
                            <span style="font-size:30px;color:#E7503C" th:text="${gddetail.money}"></span>
                        </div>
                        <h4 style="margin-bottom:15px">
                            <div class="layui-inline">
                                <a href="#"><img th:src="${userinfo.uimage}" style="width:60px" class="layui-circle">&nbsp;<span th:text="${userinfo.username}" id="username"></span></a>
                            </div>
                        </h4>
                        <h4 style="margin-bottom:15px; display:none">
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-radius"
                                    style=" background-color:#27B574">id</button>&nbsp;&nbsp;<span th:text="${gddetail.userid}" id="cmuserid"></span>
                        </h4>
                        <h4 style="margin-bottom:15px">
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-radius"
                                    style="background-color:#27B574">品 名</button>&nbsp;&nbsp;<span th:text="${gddetail.commname}" id="commname"></span>
                        </h4>
                        <h4 style="margin-bottom:15px">
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-radius"
                                    style="background-color:#27B574">日&nbsp;期</button>&nbsp;&nbsp;<span th:text="${#dates.format(gddetail.createtime,'yyyy-MM-dd')}"></span>
                        </h4>
                        <div class="ps-product__shopping">
                            <div id="shoucang">
                                <a class="ps-btn mb-10" onclick="addCart()" style="cursor: pointer">加入购物车
                                </a>
                            </div>
                        </div>
                        <div class="ps-product__shopping">
                            <div id="buy">
                                <a class="ps-btn mb-10" onclick="buy()" style="cursor: pointer">我要购买
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="ps-product__content" style="margin-top:0px">
                    <ul class="tab-list" role="tablist">
                        <li class="active"><a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab">详情</a></li>
                    </ul>
                </div>
                <div class="tab-content mb-60" id="comments">
                    <div class="tab-pane active" role="tabpanel" id="tab_01">
                        <fieldset class="layui-elem-field">
                            <legend style="font-size:25px">商品详情</legend>
                            <div class="layui-field-box">
                                <div class="layui-container" style="font-size:18px;width:100%">
                                    <div class="layui-row" style="margin-top:10px">
                                        <div class="layui-col-xs12">
                                            <div class="ps-product__block ps-product__quickview" id="commdesc"
                                                 th:text="${gddetail.commdesc}" style="font-size:16px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-container" style="font-size:18px;margin-top:10px">
                                    <div class="layui-row">
                                        <div class="layui-col-md3" style="height: 1px">
                                        </div>
                                        <div class="layui-col-md8">
                                            <div class="layui-carousel" id="test1" lay-filter="test1">
                                                <div carousel-item="">
                                                    <div><img th:src="${gddetail.image}" style="width:100%;height:100%"></div>
                                                    <div th:each="imgs:${gddetail.otherimg}">
                                                        <img th:src="${imgs}" style="width:100%;height:100%">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-footer bg--cover" data-background="images/background/parallax.jpg">
        <div class="ps-footer__content">
            <div class="ps-container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                        <aside class="ps-widget--footer ps-widget--info">
                            <header><h3 class="ps-widget__title">Address Office 1</h3>
                            </header>
                            <footer>
                                <p><strong>460 West 34th Street, 15th floor, New York</strong></p>
                                <p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
                                <p>Phone: +323 32434 5334</p>
                                <p>Fax: ++323 32434 5333</p>
                            </footer>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                        <aside class="ps-widget--footer ps-widget--info second">
                            <header>
                                <h3 class="ps-widget__title">Address Office 2</h3>
                            </header>
                            <footer>
                                <p><strong>PO Box 16122 Collins Victoria 3000 Australia</strong></p>
                                <p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
                                <p>Phone: +323 32434 5334</p>
                                <p>Fax: ++323 32434 5333</p>
                            </footer>
                        </aside>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                        <aside class="ps-widget--footer ps-widget--link">
                            <header>
                                <h3 class="ps-widget__title">Find Our store</h3>
                            </header>
                            <footer>
                                <ul class="ps-list--link">
                                    <li><a href="#">Coupon Code</a></li>
                                    <li><a href="#">SignUp For Email</a></li>
                                    <li><a href="#">Site Feedback</a></li>
                                    <li><a href="#">Careers</a></li>
                                </ul>
                            </footer>
                        </aside>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                        <aside class="ps-widget--footer ps-widget--link">
                            <header>
                                <h3 class="ps-widget__title">Get Help</h3>
                            </header>
                            <footer>
                                <ul class="ps-list--line">
                                    <li><a href="#">Order Status</a></li>
                                    <li><a href="#">Shipping and Delivery</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Payment Options</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </footer>
                        </aside>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                        <aside class="ps-widget--footer ps-widget--link">
                            <header>
                                <h3 class="ps-widget__title">Products</h3>
                            </header>
                            <footer>
                                <ul class="ps-list--line">
                                    <li><a href="#">Shoes</a></li>
                                    <li><a href="#">Clothing</a></li>
                                    <li><a href="#">Accessries</a></li>
                                    <li><a href="#">Football Boots</a></li>
                                </ul>
                            </footer>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- JS Library-->
<script type="text/javascript" th:src="@{/static/plugins/bootstrap/dist/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/jquery-bar-rating/dist/jquery.barrating.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/owl-carousel/owl.carousel.min.js}"></script>
<!--<script type="text/javascript" th:src="@{/static/plugins/gmap3.min.js}"></script>-->
<script type="text/javascript" th:src="@{/static/plugins/imagesloaded.pkgd.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/isotope.pkgd.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/jquery.matchHeight-min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/slick/slick/slick.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/elevatezoom/jquery.elevatezoom.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/jquery-ui/jquery-ui.min.js}"></script>
<!--<script type="text/javascript" th:src="@{/static/js/ditugoogle.js}"></script>-->
<script type="text/javascript" th:src="@{/static/plugins/revolution/js/jquery.themepunch.tools.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/revolution/js/jquery.themepunch.revolution.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/revolution/js/extensions/revolution.extension.video.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/revolution/js/extensions/revolution.extension.navigation.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/revolution/js/extensions/revolution.extension.parallax.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/revolution/js/extensions/revolution.extension.actions.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/revolution/js/extensions/revolution.extension.migration.min.js}"></script>
<!-- Custom scripts-->
<script type="text/javascript" th:src="@{/static/js/main.js}"></script>
<script type="text/javascript" th:src="@{/static/js/timeago.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/productdetail.js}"></script>
</body>
</html>
