﻿﻿<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7"><![endif]-->
<!--[if IE 8]>
<html class="ie ie8"><![endif]-->
<!--[if IE 9]>
<html class="ie ie9"><![endif]-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="ch">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>首页</title>
    <!-- Fonts-->
    <link rel="stylesheet" th:href="@{/static/css/fontsgoogleapis.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/ps-icon/style.css}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <!-- CSS Library-->
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/owl-carousel/assets/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/slick/slick/slick.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap-select/dist/css/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/Magnific-Popup/dist/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/jquery-ui/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/revolution/css/settings.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/revolution/css/layers.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/revolution/css/navigation.css}">
    <script type="text/javascript" th:src="@{/static/layui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <script th:inline="javascript">
        var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
        var userid = [[${session.userid}]];
    </script>
</head>
<!--[if IE 7]>
<body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 8]>
<body class="ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 9]>
<body class="ie9 lt-ie10"><![endif]-->
<body class="ps-loading">
<header class="header" th:fragment="myheader">
    <div class="header__top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
                    <p>欢迎来到校园商城！</p>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
                    <div class="header__actions">
                        <div th:if="${session.userid!=null}" style="line-height:40px">
                            <img src="" style="width:30px;display: none" id="avatars" class="layui-circle">
                            <a th:href="@{/user/center}" target="_blank"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;个人中心&nbsp;&nbsp;</a>
                            <a th:href="@{/user/logout}"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;退出登录</a>
                            <script>
                                $.ajax({
                                    url: basePath + "/user/avatar",
                                    data: "",
                                    contentType: "application/json;charset=UTF-8",
                                    type: "post",
                                    dataType: "json",
                                    success: function (data) {
                                        $("#avatars").attr("src",data.data.uimage);
                                        $("#avatars").show();
                                    },error:function () {
                                        layer.msg('系统错误', {
                                            time: 1500,
                                            icon: 2,
                                            offset: '150px'
                                        });
                                    }
                                });
                            </script>
                        </div>
                        <a th:if="${session.userid==null}" th:href="@{/login}">登录 & 注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="ps-main" id="indexssss">
    <div class="ps-products-wrap pt-80 pb-80" id="productlist">
        <div class="ps-products" data-mh="product-listing">
            <div class="ps-product-action">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 120px;font-size:15px;color:#626262"><b>商品名称</b></label>
                        <div class="layui-inline">
                            <input type="text" name="name" autocomplete="off" class="layui-input">
                        </div>

                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ps-product__columns">
                <div class="layui-container" style="width:100%">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-md3" v-for="commodity in productlistData" :key="commodity.commid">
                            <div class="ps-shoes--carousel">
                                <div class="ps-shoe">
                                    <div class="ps-shoe__thumbnail">
<!--                                        <a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a>-->
                                        <img v-bind:src="commodity.image" alt="商品主图" style="height:400px">
                                        <a class="ps-shoe__overlay" :href="'/product-detail/'+commodity.commid"
                                           target="_blank"></a>
                                    </div>
                                    <div class="ps-shoe__content">
                                        <div class="ps-shoe__variants">
                                            <div class="layui-col-md4" v-for="imgs in commodity.otherimg"
                                                 :key="imgs.id">
                                                <img v-bind:src="imgs" style="height:80px">
                                            </div>
                                        </div>
                                        <div class="ps-shoe__detail">
                                            <p style="width:130px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
                                                <a class="ps-shoe__name" :href="'/product-detail/'+commodity.commid">
                                                    {{ commodity.commname }}
                                                </a>
                                            </p>
                                            <span class="ps-shoe__price">
                                            ￥ {{ commodity.money }}
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ps-product-action">
                <div class="ps-pagination">
                    <div id="layuipage"></div>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- JS Library-->
<script type="text/javascript" th:src="@{/static/plugins/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap/dist/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/jquery-bar-rating/dist/jquery.barrating.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/owl-carousel/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/imagesloaded.pkgd.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/isotope.pkgd.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/jquery.matchHeight-min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/slick/slick/slick.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/elevatezoom/jquery.elevatezoom.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/revolution/js/jquery.themepunch.tools.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/revolution/js/jquery.themepunch.revolution.min.js}"></script>
<!-- Custom scripts-->
<script type="text/javascript" th:src="@{/static/js/main.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/index.js}"></script>
<script>
    function tologin() {
        location.href = basePath + "/login";
    }
</script>

</body>
</html>