<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CollectMapper">

    <!-- 开启二级缓存 -->
    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>

    <insert id="insertCollect" parameterType="com.entity.Collect">
        insert into collect (id,commid,commname,commdesc,cmuserid,school,couserid) values (#{id},#{commid},#{commname},#{commdesc},#{cmuserid},#{school},#{couserid})
    </insert>

    <select id="queryAllCollect" resultType="com.entity.Collect">
        select * from collect where collstatus=1 and couserid=#{couserid} order by soldtime desc limit #{page},#{count}
    </select>

    <delete id="updateCollect" parameterType="com.entity.Collect">
        delete from collect
        where id = #{id}
    </delete>

    <select id="queryCollect" resultType="com.entity.Collect">
        select couserid from collect
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="commid != null">and commid = #{commid}</if>
            and couserid=#{couserid}
        </where>
    </select>

    <select id="queryCollectCount"  resultType="java.lang.Integer">
        select count(*) from collect where collstatus=1 and couserid=#{couserid}
    </select>
</mapper>
