<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CommodityMapper">
    <resultMap id="BaseResultMap" type="com.entity.Commodity">
        <id column="commid" jdbcType="INTEGER" property="commid" />
        <result column="commname" jdbcType="VARCHAR" property="commname" />
        <result column="commdesc" jdbcType="VARCHAR" property="commdesc" />
        <result column="money" jdbcType="DECIMAL" property="money" />
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
        <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
        <result column="commstatus" jdbcType="INTEGER" property="commstatus" />
        <result column="category" jdbcType="INTEGER" property="category" />
        <result column="image" jdbcType="VARCHAR" property="image" />
        <result column="userid" jdbcType="VARCHAR" property="userid" />
    </resultMap>
    <sql id="Base_Column_List">
        commid,
        commname,
        commdesc,
        money,
        createtime,
        endtime,
        commstatus,
        category,
        image,
        userid
    </sql>
    <!-- 插入商品 -->
    <insert id="InsertCommodity" parameterType="com.entity.Commodity">
        insert into commodity (commid,commname,commdesc,money,category,image,userid) value
        (#{commid},#{commname},#{commdesc},#{money},#{category},#{image},#{userid})
    </insert>
    <delete id="delete">
        delete from commodity
        where commid=#{commid}
    </delete>
    <!-- 查询商品详情 -->
    <select id="LookCommodity" resultType="com.entity.Commodity" parameterType="com.entity.Commodity">
        select
        <include refid="Base_Column_List" />
        from commodity
        where commid=#{commid}
    </select>
    <!-- 修改商品 -->
    <update id="ChangeCommodity" parameterType="com.entity.Commodity">
        update commodity
        <set>
            <if test="commname!=null">
                commname=#{commname},
            </if>
            <if test="commdesc!=null">
                commdesc=#{commdesc},
            </if>
            <if test="money!=null">
                money=#{money},
            </if>
            <if test="category!=null">
                category=#{category},
            </if>
            <if test="image!=null">
                image=#{image},
            </if>
            <if test="commstatus!=null">
                commstatus=#{commstatus},
            </if>
        </set>
        where commid=#{commid}
    </update>
    <!-- 修改商品状态 -->
    <update id="ChangeCommstatus">
        update commodity set commstatus=#{commstatus} where commid=#{commid}
    </update>
    <!-- 通过商品名分页模糊查询 -->
    <select id="queryCommodityByName" resultType="com.entity.Commodity">
        select
        <include refid="Base_Column_List" />
        from commodity
        where commname like #{commname} and commstatus=1
        LIMIT #{page},#{count}
    </select>
    <!--模糊查询商品总数-->
    <select id="queryCommodityByNameCount" resultType="java.lang.Integer">
        select count(*) from commodity where commname like #{commname} and commstatus=1
    </select>
    <!-- 分页展示各类状态的商品信息 -->
    <select id="queryAllCommodity" resultType="com.entity.Commodity">
        select
        <include refid="Base_Column_List" />
        from commodity
        <where>
            <if test="commstatus != null">and commstatus = #{commstatus}</if>
            <if test="userid != null">and userid = #{userid}</if>
        </where>
        limit #{page},#{count}
    </select>
    <!-- 查询商品各类状态的总数 -->
    <select id="queryCommodityCount" resultType="java.lang.Integer">
        select count(*) from commodity
        <where>
            <if test="commstatus != null">and commstatus = #{commstatus}</if>
            <if test="userid != null">and userid = #{userid}</if>
        </where>
    </select>
    <!-- 查询产品清单分类分页展示商品的总数 -->
    <select id="queryAllCommodityByCategoryCount" resultType="java.lang.Integer">
        select count(*) from commodity
        where 1=1
            and commstatus=1
            <if test="commname != 'null'">and commname like concat ('%',#{commname},'%')</if>
    </select>
    <select id="queryAllCommodityByCategorySorted" resultType="com.entity.Commodity">
        select
        <include refid="Base_Column_List" />
        from commodity
        where 1=1
            and commstatus=1
            <if test="commname != 'null'">and commname like concat ('%',#{commname},'%')</if>
        limit #{page},#{count}
    </select>
    <select id="selectAll" resultType="com.entity.Commodity">
        select
        <include refid="Base_Column_List" />
        from commodity
    </select>
</mapper>
